* {
    margin: 0 auto;
    padding: 10; /*É uma borda interna, como um espaço para dentro */
    box-sizing: border-box; /*Começa a contar o tamanho do elemento a partir da borda interna da caixa*/
}

body {
    background-repeat: no-repeat;
    background-image: url('https://media.istockphoto.com/photos/programming-code-abstract-technology-background-of-software-developer-picture-id1224500457?k=20&m=1224500457&s=612x612&w=0&h=LpjdY6okVWiKh8LT_LqcXz53kWaXVf47ThXKwMcCoHI=');
    background-size: cover;
    background-position: right top;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    font-size: 12px;
}

header {
    height: 20vh; /*VALORvh deixa o elemento com VALOR% do tamanho da tela... eu acho...*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7e68f7;
    margin: 5em;
    /*border: 1px solid black;*/
    padding: 0px;
    box-shadow: 0px 0px 25px 8px;
}

.site-title {
    color: rgb(0, 0, 0);
    font-size: 4em;
    text-align: center;
}

.destaque__principal {
    max-width: 90%;
    margin: 5em;
    justify-content: center;
    background-color: #7e68f7;
    box-shadow: 0px 0px 25px 8px;
}


.titulo__principal {
    /*background: rgba(0, 0, 0, .5);*/
    color: #030303;
    padding: 2.6rem;
    text-align: center;
    font-size: 3em;
    width: 100%;
}

.obras {
    max-width: 90%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: auto;
}

.conteudo {
    padding: 2.6rem;
    text-align: center;
    font-size: 2em;
    width: 100%;
}

.conteudo a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.breve {
    max-width: 90%;
    height: auto;
    border-radius: 8px;
    display: center;
    margin: 1em; 
}

img .helloc {
    border-radius: 8px;
}

.helloc {
    text-align: center;
    border-radius: 8px;
    margin: 2em;
}

.gifs {
    text-align: center;
}

p {
    margin: 1em;
    padding: 0.5em;
    text-align: justify;
    font-size: 1.75em;
}
